<h1> <%= @restaurant.name %></h1>

<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.category %></p>

<%= link_to "See Reviews", restaurant_reviews_path(@restaurant)%>
<%= link_to "Return to list", restaurants_path%>
