<h1> <%= @restaurant.name %></h1>

<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.category %></p>

<h3> Reviews </h3>
<% @restaurant.reviews.each do |review|%>
<p><%=review.content%> </p>
<p> <%= review.rating%> </p>
<hr>
<%end%>

<%= link_to "Write a review", new_restaurant_review_path(@restaurant)%>

<%= link_to "Return to list", restaurants_path%>
